.App {
    text-align: center;
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  

  #veryTop{
    width: 100%;
    height: 7vh;
    background-color: black;
  }

  #mainHeader{
    width: 100%;
    height: 83vh;
    background-color: darkgray;

  }

  #soapSpot{
    width: 100%;
    height: 60vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
  }

  #soapwords{
    width: 25vw;
    height: 58vh;
    background-color: cornsilk;
    border: 1px solid grey

  }


  #soapSpotOne{
    width: 25vw;
    height: 58vh;
    background-color: cornsilk;
    border: 1px solid grey
  }

  #soapSpotTwo{
    width: 25vw;
    height: 58vh;
    background-color: cornsilk;
    border: 1px solid grey
  }

  #soapSpotThree{
    width: 25vw;
    height: 58vh;
    background-color: cornsilk;
    border: 1px solid grey;
  }



  #noSoapSpot{
    width: 100%;
    height: 50vh;
    background-color: cream;

  }

  #giftKitdiv{
    width: 100%;
    height: 60vh;
    background-color: cornsilk;
    display: flex;
    flex-direction: row;
  }

  #giftKitWords{
    width: 40vw;
    height: 58vh;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
  }

  #giftKitPic{
    width: 60vw;
    height: 58vh;
    border: 1px solid grey;
  }
  button{
    background-color: cornsilk;
    width: 150px;
    height: 40px;
    border: .5px solid grey;
    margin-left: 30px;
    margin-top: 12px;
  }

  